.vs/
.vscode/
**/x64
VulkanRenderer/lib
RenderWindow/lib
DX11Renderer/lib
**/lib
*.spv
EngineEditor/profile_result.json
EngineEditor/imgui.ini
EngineTest/profile_result.json
EngineEditor/sceneCache.json
EngineEditor/recent_projects.txt
EngineEditor/sceneCache.data
build/
